## Isolation forest

In [3]:
from sklearn.ensemble import IsolationForest
import pandas as pd

In [4]:
data = pd.read_csv("Iris.csv",index_col=0)
data.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
data_encoded = pd.get_dummies(data)

In [6]:
data_encoded

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica
Id,,,,,,,
1,5.1,3.5,1.4,0.2,1,0,0
2,4.9,3.0,1.4,0.2,1,0,0
3,4.7,3.2,1.3,0.2,1,0,0
4,4.6,3.1,1.5,0.2,1,0,0
5,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1
147,6.3,2.5,5.0,1.9,0,0,1
148,6.5,3.0,5.2,2.0,0,0,1
149,6.2,3.4,5.4,2.3,0,0,1
150,5.9,3.0,5.1,1.8,0,0,1

In [7]:
# training the model
clf = IsolationForest(random_state = 10,contamination = .01)
clf.fit(data_encoded)

IsolationForest(contamination=0.01, random_state=10)

In [8]:
#Predictions
y_pred_outliers = clf.predict(data_encoded)

In [9]:
# -1 will stand for outliers and 1 for normal data
y_pred_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [10]:
## Lets us add a new data point which is an obvious outlier
data_encoded.loc[150]=[20,40,30,50,1,0,0]

In [11]:
data_encoded.tail()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica
Id,,,,,,,
146,6.7,3.0,5.2,2.3,0,0,1
147,6.3,2.5,5.0,1.9,0,0,1
148,6.5,3.0,5.2,2.0,0,0,1
149,6.2,3.4,5.4,2.3,0,0,1
150,20.0,40.0,30.0,50.0,1,0,0

In [12]:
# training the model
clf = IsolationForest(random_state=10,contamination=.01)
clf.fit(data_encoded)
# predictions
y_pred_outliers = clf.predict(data_encoded)
y_pred_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1])

In [13]:
data_encoded['scores']=clf.decision_function(data_encoded)

In [14]:
data_encoded['anomaly']=clf.predict(data_encoded.iloc[:,0:7])

In [15]:
data_encoded

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica,scores,anomaly
Id,,,,,,,,,
1,5.1,3.5,1.4,0.2,1,0,0,0.203672,1
2,4.9,3.0,1.4,0.2,1,0,0,0.180215,1
3,4.7,3.2,1.3,0.2,1,0,0,0.177457,1
4,4.6,3.1,1.5,0.2,1,0,0,0.182234,1
5,5.0,3.6,1.4,0.2,1,0,0,0.196675,1
...,...,...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1,0.158032,1
147,6.3,2.5,5.0,1.9,0,0,1,0.135432,1
148,6.5,3.0,5.2,2.0,0,0,1,0.180014,1
149,6.2,3.4,5.4,2.3,0,0,1,0.121823,1
150,20.0,40.0,30.0,50.0,1,0,0,-0.288846,-1

In [18]:
# Print only the Outlier data
data_encoded[data_encoded['anomaly']==-1]

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica,scores,anomaly
Id,,,,,,,,,
107,4.9,2.5,4.5,1.7,0,0,1,-0.009118,-1
150,20.0,40.0,30.0,50.0,1,0,0,-0.288846,-1